.jx {
    width: 200px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
}

.aa {
    width: 94%;
    border-top: 1px solid #ccc;
  }
  
  .pa {
    padding: 20px 0 20px 0;
  }
  