.tj {
    width: 40%;
    height: 50px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 30px;
    text-align: center;
    font-family: Microsoft Yahei;
    line-height: 50px;
    margin-top: 36px;
    margin-right: 20px;
  }
  
  .bg-45 {
    background-color: rgba(45, 145, 73, 1);
  }
  .yi {
    background-color: #999999;
  }
  .bg-ed {
    background-color: #ed9605;
  }
  .line {
    /* width: 100vw; */
    height: 2px;
    background: #ededed;
    margin: 22px 0;
    /* padding-left: 26px; */
  }